body {
    background-image: url(./Imagens/imagem_de_fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.conteudo_das_caixas_grandes_p {
    margin-top: 500px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgb( 255, 255, 255);
    background-size: 1300px 600px;
    background-repeat: no-repeat;
    padding: 50px 50px 70px 50px;
    height: 150px;
    width: auto;
    font-family: Arial;
    font-size: 30pt;
    color: rgb(7, 7, 7);
    border-style: solid;
    border-width: 1px;
}

.conteudo_das_caixas_grandes_s {
    margin-top: 20px;
    background-image: url(./Imagens/imagemdefundodasdivs.png);
    background-size: 1300px 600px;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 50px 50px 80px 50px;
    height: 150px;
    width: 900px;
    font-family: Arial;
    font-size: 25pt;
    color: rgb(7, 7, 7);
    border-style: solid;
    border-width: 1px;
    float: left;
}

#main_box {
    background-image: url(./Imagens/divs.png);
    background-repeat: no-repeat;
    background-size: 250px 290px;
    border-radius: 20px;
    padding: 80px 30px 0px 30px;
    height: 195px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    font-family: Arial;
    color: rgb(7, 7, 7);
    font-size: 12pt;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}
#sec_box {
    background-image: url(./Imagens/imagem_time.png);
    background-repeat: no-repeat;
    background-size: 225px 300px;
    border-radius: 20px;
    padding: 85px 30px 0px 30px;
    height: 195px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    font-family: Arial;
    color: rgb(7, 7, 7);
    font-size: 13pt;
    text-align: center;
    margin: 20px;
}

#caixa_sec {
    margin-top: 20px;
    background-color: rgb( 255, 255, 255);
    background-size: 1300px 600px;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    border-style: solid;
    border-width: 1px;
    margin-left: -10px;
    margin-right: -10px;
    font-family: Arial;
    font-size: 17pt;
    color: rgb(7, 7, 7);
    padding: 30px 50px 50px 50px;
}
#main_flex {
    display: flex;
}
#sec_flex {
    display: flex;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -20px;
    background-image: url(./Imagens/paint_back.png);
    background-size: 100% 350px;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}
#caixa_final {
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -20px;
    padding: 10px 50px 0px 50px;
    height: 200px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./Imagens/imagemfinal.png);
    background-repeat: no-repeat;
    background-size: auto 250px;
    display: flex;
    flex-wrap: nowrap;
}
#facebook {
    color: rgb(255, 255, 255);
}
#imagem_do_perfil {
    margin-top: 30px;
    margin-bottom: 10px;
}
#parg_final {
    margin: auto;
}